/.kdev4
/.vs
/.vscode
/Binaries
/Intermediate
/Saved
Boot.ddc
CMakeLists.txt
Makefile
Marsettler.code-workspace
Marsettler.kdev4
Marsettler.pro
Marsettler.sln
Marsettler.workspace
MarsettlerCodeCompletionFolders.txt
MarsettlerCodeLitePreProcessor.txt
MarsettlerConfig.pri
MarsettlerDefines.pri
MarsettlerHeader.pri
MarsettlerIncludes.pri
MarsettlerSource.pri
